<!-- layouts，如何轻松让多个页面保持一致的外观 -->
<%- include("header"); -%>

    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
      <!-- <li>Buy food</li>
      <li>Read book</li>
      <li>Text preparation</li> 
    时刻对代码保持改进的警惕 把它放到array里会更简洁-->

      <% for(var i =0;i<newListItems.length;i++){ %> 
        <div class="item">
          <input type="checkbox">
          <p><%= newListItems[i] %><p>
        </div>    
      <% } %>
    

      <form class="item" action="/" method="post">
         <input type="text" name="newItem" placeholder="New Item">
         <button type="submit" name="list" value= <%= listTitle %> >+</button>
      </form>

    </div>

<%- include("footer"); -%>

