<!-- layouts，如何轻松让多个页面保持一致的外观 -->
<%- include("header"); -%>

    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">

     <!-- < for(var i =0;i<newListItems.length;i++){ %> 
        <div class="item">
          <input type="checkbox">
          <p><= newListItems[i] %><p>
        </div>    
      < } %> -->

      <!-- 用forEach代替for loop -->
      <% newListItems.forEach(function(item) { %>
        <form action="/delete" method="post">
          <div class="item">
            <!-- 怎么检查checkbox有没有被checked -->
            <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()"/>
            <p><%= item.name %></p>
          </div>
          <!-- 怎么再加一个name和value -->
          <input type="hidden" name="listName" value="<%= listTitle %>"></input>
        </form>
      <% }) %>
    

      <form class="item" action="/" method="post">
         <input type="text" name="newItem" placeholder="New Item">
         <button type="submit" name="list" value="<%= listTitle %>" >+</button>
      </form>

    </div>

<%- include("footer"); -%>
